* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2424DF;
    --secundary-color: #fff1cc;
    --shadow-color: #CCC;
    --text-color: #FFF;
}

boby {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: relative;
}

header {
    background-color: var(--primary-color);
    height: 70px;
    text-align: center;
    line-height: 70px;
    box-shadow: 0 1px 2px var(--shadow-color);
}

.header-title {
    color: #000000;
    font-size: 2rem;
}