* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #2424DF;
    --secundary-color: #fff1cc;
    --shadow-color: #CCC;
    --text-color: #FFF;
}

boby {
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    position: relative;
}