.tabela {
    width: 100%;
    user-select: none;
    text-align: center;
}

.tabela th {
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;
}

.tabela td {
    height: 50px;
    padding-left: 20px;
}

.tabela th:last-child,
.talbe td:last-child {
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.tabela tr:hover {
    background-color: var(--secundary-color);
}