.navbar{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    padding: 1em;
}
.list {
    display: flex;
    list-style: none;
    align-items: center;
}
.logo {
    color: antiquewhite;
    margin-right: 1em;
    text-decoration: none;
}
.item a {
    color: antiquewhite;
    margin-right: 1em;
    text-decoration: none;
}
.item a:hover {
    color: darkgoldenrod;
}