{% extends "/comum/template.html" %}
{% block conteudo %}
    <!-- container -->
    <div class="container">
        <!-- title -->
        <h1 class="text-center"> Edição de Dados de Automóveis </h1><hr>
        <!-- form edition -->
        <form class="form" action="/carro/update" method="POST">
            <input type="hidden" name="index" id="index" value="{{index}}">
            <div class="form-floating">
                <input type="text" class="form-control" name="modelo" id="modelo" placeholder="Modelo do Carro" value="{{automovel.modelo}}" required>
                <label for="modelo"> Modelo do Carro </label>
            </div><br>
            <div class="form-floating">
                <input type="text" class="form-control" name="marca" id="marca" placeholder="Marca do Carro" value="{{automovel.marca}}" required>
                <label for="marca"> Marca do Carro </label>
            </div><br>
            <div class="form-floating">
                <input type="text" class="form-control" name="tipo" id="tipo" placeholder="Tipo do Carro" value="{{automovel.tipo}}" required>
                <label for="tipo"> Tipo do Carro </label>
            </div><br>
            <select class="form-control" name="status" id="status" value="{{automovel.status}}" required>
                <option> Alugado </option>
                <option> Disponível </option>
            </select><br>
            <!-- button edition -->
            <button class="btn btn-success" type="submit"> Alterar </button>
        </form>
    </div>    
{% endblock %}