@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 216, 100%, 3%;
    --foreground: 0, 0%, 100%;
    --border: 214.3 31.8% 91.4%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}