@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --dark-blue: 217, 100%, 15%;
    --grey: 219, 18%, 31%;
    --background: 216, 100%, 3%;
    --foreground: 0, 0%, 100%;
    --border: 219, 18%, 31%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-full;
  }
  html{
    @apply h-full
  }
}